#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
    text-align: center;
}

img {
    width: 20%;
    height: auto;
    margin: auto 0;
}

.img-container {
    text-align: center;
}

col {
    padding: 10px;
}

body {}

h2,
h1 {
    text-align: center;
}